@model IEnumerable<Category>
@*<header>
	<a class="navbar-brand" asp-area="" asp-controller="User" asp-action="Index">BNo_Face</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
			aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<nav>

		<ul>
			<li><a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Nhân Viên</a></li>
			<li><a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Sản Phẩm</a></li>
			<li><a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Danh Mục</a></li>
			<li><a class="nav-link text-dark" asp-area="" asp-controller="Bill" asp-action="Index">Hóa Đơn</a></li>
			<li><a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Thống Kê</a></li>
			<li><a class="nav-link text-dark" asp-area="" asp-controller="Payment" asp-action="Index">Phiếu Chi</a></li>

		</ul>

	</nav>
</header>*@
<div class="container">
	<div class="row pt-4">
		<div class="col-1">
			<h2> Danh Mục </h2>
		</div>
		<div class="col-1 bgr-a">

			<a asp-controller="Category" asp-action="Create" class="btn btn-primary">Thêm Danh Mục</a>
		</div>
	</div>

	

	@using (Html.BeginForm())

	{

		<p>

			Nhập thông tin: @Html.TextBox("SearchString") <input type="submit" value="Tìm kiếm"  />

		</p>

	}

	<table class="table_user">
		<thead>
			<tr>
				<th> ID</th>
				<th> Tên</th>
				<th> Sửa</th>
				<th> Xóa</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.CategoryID</td>
					<td>@item.CategoryName</td>
					<td>
						<div class="bgr-a">
							<a class="btn btn-primary" asp-controller="Category" asp-action="Edit" asp-route-id=@item.CategoryID>
								Sửa
							</a>
						</div>
					</td>
					<td>
						<div class="bgr-x">
							<a class="btn btn-danger" asp-controller="Category" asp-action="Delete" asp-route-id="@item.CategoryID">
								Xóa
							</a>

						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
