html {
  font-size: 14px;
  background-color: grey;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  min-height: 100%;
}

body {
    font-size:26px;
    margin-top: 50px;
    width: 80%;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
/*    background-color:#858585;*/
}
header {
    background-color: grey;
    flex: 1; 
}
nav {
    width: 300px;
    
}
.navbar-brand {
   margin-left: 80px;
}
nav ul {
    width: 250px;
}
nav ul li {
    margin: 5px;
    padding: 5px;
    list-style: none;
    font-weight: bold;
    background-color: antiquewhite;
    border-radius: 5px;
    text-align:center
}
.SignIn {
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
}
.container {
    background-color: grey;
    /*width: 1497px;*/
    height: 1083px;
    max-width:1497px;

}
.textbox {
    width: 302px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9;
    border-top: 2px solid;
    border-left: 2px solid;
}
.BorderShow {
    padding-left:20px;
    padding-right:20px;
}
.title_block {
    width: 250px;
    height: 70px;
    color: #000;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/*Chỉnh hiện thị category (Product.edit)*/
.Select_IDCT {
    border-radius: 10px;
    background: #D9D9D9;
    width: 300px;
    height: 44px;
    color: #000;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-left: 2px solid;
    border-top: 2px solid;
}

.table_user th, td {
    width:200px;
    text-align: center;

}
.table_user th{
    width: 20px;
    background-color: #f2f2f2;
}
.table_user{
    width: 1200px;
   border-collapse:collapse;
}

/*table user*/
.Tb-container {
    max-width: 1200px;
    overflow-x: auto;
    margin: 0 auto;
}

    .table_user th,
    .table_user td {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border:1px solid black;
    }
/*        .table_user td:hover {
            overflow: visible;
            white-space: normal;
        }*/


/*home index*/
.home {
    width:100%;
}

/*chỉnh backgroud của user*/
.Backgroud_US {
    background-color: gray;
    /* muốn có khung thì comment cái này nhá :V*/
    border: 1px solid gray !important;
}

/*Chỉnh sửa home/Index*/
.home_Between {
    height:600px;
    width:480px;
    display: flex;
    flex-direction: column;
/*    align-items: center;*/
}

.home {
    margin-bottom: 5px;
}
.Home_Button {
    display: flex;
    justify-content:space-around;
    margin-top: 5px;
}


/* chỉnh home Loggin*/
.Home_Loggin {
    height: 600px;
    width: 650px;
/*    background-color: aliceblue;*/
    display: flex;
    flex-direction: column;
}
    .Home_Loggin h2 {
        text-align: center;
    }
    .Home_Loggin .mb-3{
        margin:0 auto;
        width:80%;
        display:flex;
        justify-content:space-around;
    }

    /*đổi màu buttom và thẻ a*/
.bgr-a a:hover{
    background-color:green;
}

.bgr-bt button:hover{
    background-color: green;
}
.bgr-x a:hover{
    background-color:darkred;
}
.bgr-xbt button:hover {
    background-color: darkred;
}

.Chia{
    width:150px;
}
/*chỉnh nút xóa và trờ về = hàng nhau*/
.Sbetween {
    display: flex;
        justify-content: space-between;
}
