html {
  font-size: 14px;
  background-color: grey;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  min-height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1f293a;
    /*    background-color:#858585;*/
}
header {
    background-color: grey;
    flex: 1; 
}
nav {
    width: 300px;
    
}
.navbar-brand {
   margin-left: 80px;
}
nav ul {
    width: 250px;
}
nav ul li {
    margin: 5px;
    padding: 5px;
    list-style: none;
    font-weight: bold;
    background-color: antiquewhite;
    border-radius: 5px;
    text-align:center
}
.SignIn {
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
}
.container {
    background-color: grey;
    /*width: 1497px;*/
    height: 1083px;
    max-width: 1497px;
}
.textbox {
    width: 302px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9;
    border-top: 2px solid;
    border-left: 2px solid;
}
.BorderShow {
    padding-left:20px;
    padding-right:20px;
}
.title_block {
    width: 250px;
    height: 70px;
    color: #000;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/*Chỉnh hiện thị category (Product.edit)*/
.Select_IDCT {
    border-radius: 10px;
    background: #D9D9D9;
    width: 300px;
    height: 44px;
    color: #000;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-left: 2px solid;
    border-top: 2px solid;
}

.table_user th, td {
    width:200px;
    text-align: center;

}
.table_user th{
    width: 20px;
    background-color: #f2f2f2;
}
.table_user{
    width: 1200px;
   border-collapse:collapse;
}

/*table user*/
.Tb-container {
    max-width: 1200px;
    overflow-x: auto;
    margin: 0 auto;
}

    .table_user th,
    .table_user td {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border:1px solid black;
    }
/*        .table_user td:hover {
            overflow: visible;
            white-space: normal;
        }*/


/*home index*/
.home {
    width:100%;
}

/*chỉnh backgroud của user*/
.Backgroud_US {
    background-color: gray;
    /* muốn có khung thì comment cái này nhá :V*/
    border: 1px solid gray !important;
}

/*Chỉnh sửa home/Index*/
.home_Between {
    height:600px;
    width:480px;
    display: flex;
    flex-direction: column;
/*    align-items: center;*/
}

.home {
    margin-bottom: 5px;
}
.Home_Button {
    display: flex;
    justify-content:space-around;
    margin-top: 5px;
}

/*login*/
.container {
    position: relative;
    width: 256px;  /**/
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .container span {
        position: absolute;
        left: 0;
        width: 32px;
        height: 6px;
        background: #2c4766;
        border-radius: 8px;
        transform-origin: 158px;
        transform: scale(2.2) rotate(calc(var(--i) * (360deg / 50)));
        animation: animateBlink 3s linear infinite;
        animation-delay: calc(var(--i) * (3s / 50));
    }

@keyframes animateBlink {
    0% {
        background: #0ef;
    }

    25% {
        background: #2c4766;
    }
}

.login-box {
    position: absolute;
    width: 400px;
    /*background: red;*/
}

    .login-box form {
        width: 100%;
        padding: 0 50px;
    }

h2 {
    font-size: 2em;
    color: #0ef;
    text-align: center;
}

.input-box {
    position: relative;
    margin: 25px 0;
}

    .input-box input {
        width: 100%;
        height: 50px;
        background: transparent;
        border: 2px solid #2c4766;
        outline: none;
        border-radius: 40px;
        font-size: 1em;
        color: #fff;
        padding: 0 20px;
        transition: .5s ease;
    }

        .input-box input:focus,
        .input-box input:valid {
            border-color: #0ef;
        }

    .input-box label {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        font-size: 1em;
        color: #fff;
        pointer-events: none;
        transition: .5s ease;
    }

    .input-box input:focus ~ label,
    .input-box input:valid ~ label {
        top: 1px;
        font-size: .8em;
        background: #1f293a;
        padding: 0 6px;
        color: #0ef;
    }

.btn {
    width: 100%;
    height: 45px;
    background: #0ef;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #1f293a;
    font-weight: 600;
}

.signup-link {
    margin: 50px 0 10px;
    text-align: center;
}

    .signup-link a {
        font-size: 1em;
        color: #0ef;
        text-decoration: none;
        font-weight: 600;
    }

        .signup-link a:hover {
            text-decoration: underline;
        }
/*end- login*/

    /*đổi màu buttom và thẻ a*/
.bgr-a a:hover{
    background-color:green;
}

.bgr-bt button:hover{
    background-color: green;
}
.bgr-x a:hover{
    background-color:darkred;
}
.bgr-xbt button:hover {
    background-color: darkred;
}

.Chia{
    width:150px;
}
/*chỉnh nút xóa và trờ về = hàng nhau*/
.Sbetween {
    display: flex;
        justify-content: space-between;
}
.test{
    display:flex;
}
/*hiện thị phàn Tên trang và thêm */
.col-1 {
    margin-bottom: 20px;
    flex: 0 0 auto;
    width:15%;
}