@model Bill

<div class="container">
	<form method="post" class="SignIn">
		<div class="border p-3">
			<div class="row pb-2">
				<h2>Bill</h2>
			</div>
			<!--<div asp-validation-summary="All" class="text-danger"></div>-->
			<div class="mb-3">
				<label asp-for="BillID" class="title_block"></label>
				<input asp-for="BillID" class="textbox" /> <br />
				<span asp-validation-for="BillID" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="ProductID" class="title_block"></label>
				<select asp-for="BillID" asp-items="ViewBag.productList" class="form-select" />
				<option disabled onselect="" > -- Select Product</option>
				<span asp-validation-for="BillID" class="text-danger"></span>
			</div>


			<button type="submit" class="btn btn-primary">Tạo Danh Mục</button>
			<a asp-controller="Category" asp-action="Index">Trở về </a>
		</div>
	</form>
</div>