@model Bill

<form method="post" asp-action="Index">
	<div class="row pb-2">
		<h2> Chức năng đang được hoàn thiện</h2>
	</div>
    <div class="container">
		
<!--	<div class="mb-3">
			<label asp-for="List_Product.Quantity"></label>
			<input type="number" class="form-control" />
				</div>-->
	</div>
</form>