@model Bill
<h1> Thanh Toán</h1>
<form method="post" asp-action="Index">
    <div class="container">
		
<!--	<div class="mb-3">
			<label asp-for="List_Product.Quantity"></label>
			<input type="number" class="form-control" />
				</div>-->
	</div>
</form>