<div class="home_Between">
	<div class="home">
		<img src="https://i.pinimg.com/564x/40/4a/8f/404a8f38cbb7ca5eb7671bafff3a969f.jpg" />
	</div>
	<div class="Home_Button bgr-a">
		<a asp-controller="Home" asp-action="Loggin" class="btn btn-primary">Đăng Nhập</a>
		<a asp-controller="Home" asp-action="SignIn" class="btn btn-primary">Đăng Ký</a>
	</div>
</div>
