@model User
<form method="post"asp-action="Loggin" >
	<div class="Home_Loggin">
		<h2>Đăng nhập</h2>
		<div class="mb-3">
			<div class="test">
                <label asp-for="UserName" class="title_block"></label>
                <input asp-for="UserName" class="textbox" />
			</div>

			<span asp-validation-for="UserName" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<div class="test">
                <label asp-for="Password" class="title_block"></label>
                <input asp-for="Password" type="password" class="textbox" />
			</div>

			<span asp-validation-for="Password" class="text-danger"></span>
		</div>
@*		<div asp-validation-summary=All class="text-danger"></div>*@
		<div class="Home_Button bgr-bt">
			<button type="submit" class="btn btn-primary" onclick="showErrorMessages()">Đăng nhập</button>
			@*		<a asp-controller="Home" asp-action="Index">Thoát </a>*@
			<button class="btn btn-primary" asp-controller="Home" asp-action="Index">Thoát</button>

		</div>
	</div>

</form>
