@model User
<form method="post" asp-action="Loggin">

    <div class="container login">
        <div class="login-box">
            <h2>Đăng nhập</h2>
            <ng-form action="#">
            <div class="input-box">                 
                    <input asp-for="UserName" required />
                    <label asp-for="UserName"></label>

                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="input-box">
                    <input asp-for="Password" type="password" required />
                    <label asp-for="Password"></label>

                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="Home_Button bgr-bt">
                <button type="submit" class="btn btn-primary" onclick="showErrorMessages()">Đăng nhập</button>
                <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Thoát</a>
            </div>
            </ng-form>
        </div>
        @for (int i = 0; i < 50; i++)
        {
            <beat style="--i:@i;"></beat>
        }
    </div>

</form>
