@model User
<form method="post"asp-action="Loggin" >
	<div class="mb-3">
		<label asp-for="UserName" class="title_block"></label>
		<input asp-for="UserName" class="textbox" />
		
	</div>
	<div class="mb-3">
		<label asp-for="Password" class="title_block"></label>
		<input asp-for="Password" class="textbox" />
		
	</div>
	<button type="submit" class="btn btn-primary">Đăng nhập</button>
	<a asp-controller="Home" asp-action="Index">Thoát </a>
</form>