@model User
<div class="container">
	<form method="post" class="SignIn">
		<div class="border p-3">
			<div class="row pb-2">
				<h2> Đăng Ký</h2>
			</div>
			<!--<div asp-validation-summary="All" class="text-danger"></div>-->
			<div class="mb-3">
				<label asp-for="Name" class="title_block"></label>
				<input asp-for="Name" class="textbox" /> <br />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="NumberPhone" class="title_block"></label>
				<input asp-for="NumberPhone" class="textbox" />
				<span asp-validation-for="NumberPhone" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Birthday" class="title_block"></label>
				<input asp-for="Birthday" class="textbox" />
				<span asp-validation-for="Birthday" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<!--
				Regular space: &nbsp;
				Two spaces gap: &ensp;
				Four spaces gap: &emsp;
							-->
				<label asp-for="Sex" class="title_block"></label>&emsp;&emsp;
				<input type="radio" name="Sex" value="true" /> Nam &ensp;
				<input type="radio" name="Sex" value="false" /> Nữ
				<span asp-validation-for="Sex" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="UserName" class="title_block"></label>
				<input asp-for="UserName" class="textbox" />
				<span asp-validation-for="UserName" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Password" class="title_block"></label>
				<input asp-for="Password" class="textbox" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Position" class="title_block"></label>
				<input type="radio" name="Position" value="1" /> Admin &ensp;
				<input type="radio" name="Position" value="2" /> Kế Toán &ensp;
				<input type="radio" name="Position" value="3" /> Nhân Viên &ensp;
				<span asp-validation-for="Position" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-primary">Đăng Ký</button>
			<a asp-controller="Home" asp-action="Index">Back to home </a>
		</div>
	</form>
</div>