@model User
	<form method="post" class="SignIn">
	<div class="border p-3 Backgroud_US">
			<div class="row pb-2">
				<h2> Đăng Ký</h2>
			</div>
		<ng-form action="#">
			<div class="input-box">
				<input asp-for="Name" required />
				<label asp-for="Name"></label>

				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="input-box">
				<input asp-for="NumberPhone" required  />
				<label asp-for="NumberPhone"></label>
				
				<span asp-validation-for="NumberPhone" class="text-danger"></span>
			</div>
			<div class="input-box">
				<input asp-for="Birthday" required type="date" style="padding-left: 20%;" />
				<label asp-for="Birthday"></label>
				
				<span asp-validation-for="Birthday" class="text-danger"></span>
			</div>
			<div class="input-box">
				<div class="Fx-1">
					<div class="Fx">
						<label asp-for="Position" class="title_block"></label>
						<input type="radio" name="Sex" value="true" checked="checked" required /> Nam &ensp;
						<input type="radio" name="Sex" value="false" required /> Nữ;
						<span asp-validation-for="Sex" class="text-danger"></span>
					</div>
				</div>
			</div>
			<div class="input-box">
				<input asp-for="UserName" required />
				<label asp-for="UserName"></label>
			
				<span asp-validation-for="UserName" class="text-danger"></span>
			</div>
			<div class="input-box">
				<input asp-for="Password" required/>
				<label asp-for="Password"></label>
			
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="input-box">
				<div class="Fx-1">
					<div class="Fx">
						<label asp-for="Position" class="title_block"></label>
						<input type="radio" name="Position" value="1" /> Admin &ensp;
						<input type="radio" name="Position" value="2" /> Kế Toán &ensp;
						<input type="radio" name="Position" value="3" checked="checked" /> Nhân Viên &ensp;
						<span asp-validation-for="Position" class="text-danger"></span>

					</div>
				</div>
			</div>
			<div class="Home_Button bgr-bt bgr-a">
				<button type="submit" class="btn btn-primary">Đăng Ký</button>
				<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Thoát</a>
			</div>
		</ng-form>
	</div>
	</form>
