@model IEnumerable<User>
<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2> User </h2>
		</div>
		<div class="col-6">

			<a asp-controller="User" asp-action="Create" class="btn btn-primary">Create</a>
		</div>
	</div>
</div>